<html lang="en">

<head>
  <title>Mongo Web Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  {{{ body }}}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Scraped Articles</div>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/" class="btn btn-danger scrape-new">Scrape New Articles</a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    {{{ main }}}
    <div class="container">
      <ul class="collection with-header">
        <li class="collection-header indigo accent-4">
          <h4>
            <b>Mongo Web Scraper</b>
          </h4>
          </b>
          </h4>
        </li>
        <li class="collection-item">This app allows users to read and comment on articles scraped from the web.</li>
      </ul>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="assets/js/index.js"></script>

</body>

</html>